.App {
  background-color: #f0f0f093; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff; 
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.home-header h1 {
  font-size: 3rem; 
  color: #333; 
  margin-bottom: 10px;
}


.home-header p {
  font-size: 1.5rem; /* Aumentar ligeramente */
  color: #555; 
  margin-bottom: 20px;
}
.services-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service-card {
  background-color: #f56161; 
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra  */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto */
  position: relative; /* Posicionamiento  */
  overflow: hidden; /* ocultar desbirdes */
}

.service-card:hover {
  transform: translateY(-5px) scale(1.05); /*  */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra  */
}

.service-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.service-card:hover .service-image {
  transform: scale(1.08); 
}

.service-title {
  font-size: 1.8rem;
  margin: 20px 0 10px;
  color: #fff; 
}

.service-description {
  font-size: 1.1rem;
  color: #fafafa;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .home-header h1 {
    font-size: 2rem;
  }

  .home-header p {
    font-size: 1.2rem;
  }

  .service-title {
    font-size: 1.4rem;
  }

  .service-description {
    font-size: 1rem;
  }

  .service-image {
    height: 180px; /* Ajustes de imagen en pantallas pequeñas */
  }
}